apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: operator
    {{- include "keda-http-add-on.labels" . | indent 4 }}
  name: {{ .Chart.Name }}-controller-manager-metrics-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: metrics
    port: {{ default 8443 .Values.operator.port }}
    targetPort: metrics
  selector:
    app.kubernetes.io/component: operator
    {{- include "keda-http-add-on.labels" . | indent 4 }}
