name: Helm Chart CI
on: [pull_request]

jobs:
  lint-helm-3-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1

    - name: Lint 'KEDA' Helm chart
      run: helm lint keda

  deploy-helm-3-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1
      
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.0.0

    - name: Show Kubernetes version
      run: |
        kubectl version

    - name: Show Helm version
      run: |
        helm version

    - name: Create keda namespace
      run: kubectl create ns keda

    - name: Template Helm chart
      run: helm template keda ./keda/ --namespace keda

    - name: Install Helm chart
      run: helm install keda ./keda/ --namespace keda

    - name: Get all ScaledObjects
      run: kubectl get crds -o wide

    - name: Get all ScaledObjects
      run: kubectl get scaledobjects -o wide

    - name: Get all ScaledJobs
      run: kubectl get scaledjobs -o wide

    - name: Get all TriggerAuthentication
      run: kubectl get triggerauth -o wide

    - name: Deploy Nginx with autoscaling
      run: kubectl apply -f ./samples/nginx-scaledobject.yml

    - name: Get all ScaledObjects
      run: kubectl get scaledobjects -o wide
