name: Helm Chart CI
on: [pull_request]

jobs:
  lint-helm-2-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install v2.15.2
      uses: Azure/setup-helm@v1
      with:
        version: v2.15.2

    - name: Lint 'KEDA' Helm chart
      run: helm lint keda

  deploy-helm-2-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1
      with:
        version: v2.15.2
      
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.0.0

    - name: Show Kubernetes version
      run: |
        kubectl version

    - name: Initialize Helm
      run: |
        helm init --wait
        # Based on https://github.com/helm/helm/issues/3130#issuecomment-372931407
        kubectl --namespace kube-system create serviceaccount tiller
        kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
        kubectl --namespace kube-system patch deploy tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}' 

    - name: Show Helm version
      run: |
        helm version

    - name: Template Helm chart
      run: helm template --name keda ./keda/

    - name: Install Helm chart
      run: helm install --name keda ./keda/

  lint-helm-3-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1

    - name: Lint 'KEDA' Helm chart
      run: helm lint keda

  deploy-helm-3-x:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Helm install
      uses: Azure/setup-helm@v1
      
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.0.0

    - name: Show Kubernetes version
      run: |
        kubectl version

    - name: Show Helm version
      run: |
        helm version

    - name: Create keda namespace
      run: kubectl create ns keda

    - name: Template Helm chart
      run: helm template keda ./keda/ --namespace keda

    - name: Install Helm chart
      run: helm install keda ./keda/ --namespace keda
